html {
  cursor: none;
  background: linear-gradient(-45deg, #333, #222, #111);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow: hidden;
  user-select: none;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  transform-style: preserve-3d;
  perspective: 1000px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#grain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: overlay;
}

.card {
  position: relative;
  background-position: top center;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
}

h1 {
  color: #f5c05d;
  font-size: 7em;
  margin: 5em;
  transform: translateZ(100px);
  transition: font-size 0.2s;
  text-shadow: 0 0 10px #f5c05d28, 0 0 20px #f5c05d28, 0 0 30px #f5c05d28, 0 0 40px #f5c05d28, 0 0 55px #f5c05d28, 0 0 75px #f5c05d28, 0 0 90px #f5c05d28;
}

.cursor {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: width 0.1s, height 0.1s;
  box-shadow: 0 0 15px 20px #333;
}

/* Mobile Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
    margin: 0.5em;
  }
  
  .card {
    padding: 10px;
  }
}
